version: '3'
services:
  strapi:
    build: .
    image: strapi:latest
    restart: unless-stopped
    env_file: .env
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_HOST: strapiDB
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PORT: ${DATABASE_PORT}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      NODE_ENV: ${NODE_ENV}
      HOST: 0.0.0.0
      PORT: 1337
    user: "1000:1000"
    volumes:
      - ./.env:/opt/app/.env
    ports:
      - "1337"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.strapi-main.rule=Host(`strapi.eziyah.com.au`)"
      - "traefik.http.routers.strapi-main.entrypoints=websecure"
      - "traefik.http.routers.strapi-main.tls.certResolver=letsencrypt"
      - "traefik.http.services.strapi-main.loadbalancer.server.port=1337"

    networks:
      - dokploy-network
      - strapi
    depends_on:
      - strapiDB
      
  strapiDB:

    platform: linux/amd64 #for platform error on Apple M1 chips
    restart: unless-stopped
    env_file: .env
    image: postgres:14.5-alpine
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - strapi-data:/var/lib/postgresql/data/ #using a volume
      #- ./data:/var/lib/postgresql/data/ # if you want to use a bind folder

    ports:
      - '5432:5432'
    networks:
      - strapi
      
  strapiAdminer:
    
    image: adminer
    restart: unless-stopped
    ports:
      - '9090:8080'
    environment:
      - ADMINER_DEFAULT_SERVER=strapiDB
    networks:
      - strapi
    depends_on:
      - strapiDB

volumes:
  strapi-data:

networks:
  dokploy-network:
    external: true
  strapi:
    name: Strapi
    driver: bridge
